pkgbase = zcode
	pkgdesc = ZCode Desktop App
	pkgver = 3.14.0
	pkgrel = 1
	url = https://zcode.z.ai/en
	arch = x86_64
	license = unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: system tray indicator support
	options = !strip
	source = ZCode-3.14.0-linux-x64.deb::https://cdn-zcode.z.ai/zcode/electron/releases/3.14.0/linux-x64/ZCode-3.14.0-linux-x64.deb
	sha256sums = ad1c7f76d40967de74d6a8738bb7a941ed350b78c4339daecff1c9942112842a

pkgname = zcode
