pkgbase = zcode
	pkgdesc = ZCode Desktop App
	pkgver = 3.14.1
	pkgrel = 1
	url = https://zcode.z.ai/en
	arch = x86_64
	license = unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: system tray indicator support
	options = !strip
	source = ZCode-3.14.1-linux-x64.deb::https://cdn-zcode.z.ai/zcode/electron/releases/3.14.1/linux-x64/ZCode-3.14.1-linux-x64.deb
	sha256sums = 2ba6d9d130fdf22af500f555a2c289fa5300712dd97052231251f8782ada3fdf

pkgname = zcode
